<div class="container-fluid fondo" id="nabvar">
  <header

    class=" d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0"><a routerLink="/" class="d-inline-flex link-body-emphasis text-decoration-none">


      <img class="animate__bounceIn" routerLink="/Paginacomponents" id="imgFast" alt="fast logo" src="assets/Globo terraqueo.webp">
      <svg class="bi" width="40" height="40" role="img" aria-label="Bootstrap">
      </svg>

    </a></div>
    <h1 class="titulo-bienvenida">GeoPlanet </h1>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-left mb-md-0 gap-5 estiloLetra">

      <li><a class="animate__bounceIn nav-link "  routerLink="/video" routerLinkActive="active">Países</a></li>

      <li><a class="animate__bounceIn nav-link" routerLink="/BuscarPais" routerLinkActive="active">Buscar</a></li>

      <li><a class="animate__bounceIn nav-link" routerLink="/nuevoPais" routerLinkActive="active">Nuevo país</a></li>


    </ul>

  </header>
</div>


