<footer class="footer">

  <div class="footer-contenido">

    <div class="footer-marca">
      <h2 class="footer-logo">GeoPlanet</h2>

      <p class="footer-descripcion">
        Encuentra el Pais del cual deseas saber
      </p>
    </div>

    <div class="footer-seccion">

      <h3>Explorar</h3>

      <a href="#">Pais</a>

    </div>

    <div class="footer-seccion">

      <h3>Ayuda</h3>

      <a href="#">Donde puedo ver el Pais</a>

    </div>

    <div class="footer-seccion">

      <h3>Contacto</h3>

      <p>Bogotá, Colombia</p>

    </div>

  </div>

  <div class="footer-inferior">

    <p>
      © GeoPlanet.
    </p>

  </div>

</footer>
